*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background: linear-gradient(90deg, rgb(112, 112, 112),rgb(139, 139, 139),rgb(146, 145, 145), rgb(139, 139, 139),rgb(112, 112, 112));


    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

}

.footer a {
    text-decoration: none;
}

.footer ul {
    list-style-type:none;
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}



