/*Div izquierda*/
.componentesHeader {
    align-items: center;
    display: flex;

    background-color: #696565;
    height: 100px;
    width: 50%;
    float: left;
}

#inputHeader {
    height: 30px;
    width: 200px;
    margin-left: 25%;

    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    text-align: center;

    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#inputHeader[type=search]:hover {
    width: 350px;
}

#bntHeader {
    height: 30px;
    width: 100px;

    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background-image: linear-gradient(rgb(225, 225, 225), rgb(255, 255, 255)), linear-gradient(rgb(0, 0, 0), silver);
    background-size: 0 100%, auto;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .2s ease-out;
}

#bntHeader:hover {
    color: black;
    background-size: 100% 100%, auto;
}

#imgLogo {
    height: 70px;
    margin: 10px;
    border-radius: 35px;
}


/*Div derecha*/
.cuenta{
    background-color: #504C4C;
    width: 50%;
    height: 100px;
    float: right;
}

.cuenta a:hover{
    color: rgb(196, 193, 193);
}

.cuenta a{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;

    margin: 2px;
    font-size: 16px;
    width: 7.5em;
    float: right;
    margin-top: 40px;

    transition: color .5s;
}