

.registro{

      
    
  
    display: flex;
    justify-content: center;
   
}

.registro2{

    width: 380px;
    height: 380px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 22px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: 1px solid rgb(158, 154, 154) ;
    border-radius: 10px;


}

.registro2 label{

    color: rgb(109, 109, 109);
    
}
.registro2 input{
    height: 25px;

    width: 340px;
    font-size: 22px;
    display: block !important;
    margin: 5px auto;

    border: 1px solid rgb(192, 189, 189);

    border-radius: 7px;
}

.registro2 #btn-registro{

    font-size: 20px;
   height: 40px;
   width: 140px;
   margin: 10px auto;
   background-color: rgb(19, 116, 116);
    color: whitesmoke;
   -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
   border: 3px solid rgb(10, 94, 143);
    border-radius: 4px;
  
}

.registro2 #btn-registro:hover{
  
    background-color: rgb(155, 202, 202);
    color: rgb(80, 79, 79);
 }
 

/*Para el login*/


.login{

      
    
  
    display: flex;
    justify-content: center;
   
}

.login2{

    width: 380px;
    height: 380px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 22px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: 1px solid rgb(158, 154, 154) ;
    border-radius: 10px;


}

.login2 label{

    color: rgb(109, 109, 109);
    
}
.login2 input{
    height: 25px;

    width: 340px;
    font-size: 22px;
    display: block !important;
    margin: 5px auto;

    border: 1px solid rgb(192, 189, 189);

    border-radius: 7px;
}

.login2 #btn-login{

    font-size: 20px;
   height: 40px;
   width: 140px;
   margin: 10px auto;
   background-color: rgb(19, 116, 116);
    color: whitesmoke;
   -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
   border: 3px solid rgb(10, 94, 143);
    border-radius: 4px;
  
}

.login2 #btn-login:hover{
  
    background-color: rgb(155, 202, 202);
    color: rgb(80, 79, 79);
 }
 